/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'stardew-valley';
    src: url('@/assets/fonts/stardew-valley.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'stardew-valley';
    src: url('@/assets/fonts/StardewValleyTitle.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
}

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html {
  height: 100%;
  font-family: 'stardew-valley', sans-serif;
  background: url('@/assets/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  height: 100%;
  font-family: 'stardew-valley', sans-serif;
}

div:focus,
button:focus,
input:focus {
  outline: theme('colors.brown.700') solid 4px !important;
}

.pixel-message-border {
  border: 3px solid theme('colors.brown.700');
  box-shadow:
    inset 0px 0px 0px 6px theme('colors.brown.300'),
    inset 0px 0px 0px 12px theme('colors.brown.200');
}

.pixel-text-shadow {
  filter: drop-shadow(1px 1px 0px #00000040);
}

.pixel-shadow {
  filter: drop-shadow(-3px 3px 0px #00000026);
  box-shadow:
    inset 3px -3px 0px 0px #00000040,
    inset -3px 3px 0px 0px #ffffff80;
}

.pixel-sunken-shadow {
  box-shadow:
    inset 0px 0px 0px 3px #0000000d,
    inset 0px 0px 0px 6px #0000000d;
}

.noselect,
div,
img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -o-user-select: none;
}
